@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.logo-riot {
  fill: transparent;

  animation: logo-riot 2s ease infinite alternate;
}

@keyframes logo-riot {
  0% {
    fill: transparent;
  }
  25% {
    fill: transparent;
  }
  60%,
  100% {
    fill: $white;
  }
}
