.s-hero {
  position: relative;
  z-index: 2;

  .slide-principal {
    width: 100%;
    height: 73.6rem;

    .swiper-wrapper {
      .swiper-slide {
        padding-top: 20.7rem;
        background-position: top center;
        background-size: cover;

        &.slide-01 {
          background-image: url("../assets/imgs/banners/bg-banner1.jpg");
        }
        &.slide-02 {
          background-image: url("../assets/imgs/banners/bg-banner2.jpg");
        }
        &.slide-03 {
          background-image: url("../assets/imgs/banners/bg-banner3.jpg");
        }
        &.slide-04 {
          background-image: url("../assets/imgs/banners/bg-banner4.jpg");
        }
        &.slide-05 {
          background-image: url("../assets/imgs/banners/bg-banner5.jpg");
        }
        &.slide-06 {
          background-image: url("../assets/imgs/banners/bg-banner6.jpg");
        }

        .container {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }

        .left-content {
          margin-left: 19.3rem;
          width: 100%;
          // max-width: 47rem;

          h2 {
            font-weight: 700;
            font-size: 6.4rem;
            line-height: 110.2%;
            color: $white;
            margin-bottom: 1.6rem;
            text-shadow: -4px 8px 4px rgba(0, 0, 0, 0.3);
            max-width: 47rem;
          }

          p {
            font-size: 1.8rem;
            line-height: 2.7rem;
            letter-spacing: -0.05em;
            color: $white;
            margin-bottom: 3.2rem;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            max-width: 46rem;
          }

          button {
            padding: 0 3.8rem;
            line-height: 5.2rem;
          }
        }

        .right-content {
          width: 100%;
          max-width: 29.2rem;
          margin-top: -3.4rem;

          .logo {
            width: 100%;
            max-width: 28rem;
            height: 18rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8.6rem;
          }

          .video {
            width: 100%;
            max-width: 28rem;

            span {
              display: block;
              text-align: right;
              font-weight: 600;
              font-size: 1.3rem;
              line-height: 2rem;
              text-transform: uppercase;
              margin-bottom: 1.6rem;
            }

            .btn-video {
              position: relative;
              width: 100%;
              height: 15.8rem;
              border-radius: 6px;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;

              .thumb {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity 0.3s;

                &.default {
                  opacity: 1;
                }
                &.hover {
                  opacity: 0;
                }

                &:hover {
                  &.default {
                    opacity: 0;
                  }
                  &.hover {
                    opacity: 1;
                  }

                  & + .icon {
                    display: none;
                  }
                }
              }

              .icon {
                position: relative;
                z-index: 1;
                width: 4rem;
                height: 4rem;
                background: linear-gradient(
                  136.72deg,
                  rgba(7, 7, 10, 0.86) 19.22%,
                  rgba(15, 16, 22, 0.5) 76.59%
                );
                backdrop-filter: blur(1.5px);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }

  .slide-thumbnail {
    position: absolute;
    top: 21.6rem;
    left: 16%;
    z-index: 2;
    height: 38.8rem;

    .swiper-wrapper {
      .swiper-slide {
        cursor: pointer;
        width: 4.2rem;
        height: 4.2rem;
        opacity: 0.4;
        filter: grayscale(100%);

        &-thumb-active {
          opacity: 1;
          filter: grayscale(0);
        }

        &.disabled {
          pointer-events: none;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .slide-principal {
      .swiper-wrapper {
        .swiper-slide {
          background-position: center center;
        }
      }
    }

    .slide-thumbnail {
      left: 8%;
    }
  }

  @media (max-width: 1150px) {
    .slide-thumbnail {
      left: 1%;
    }
  }

  @media (max-width: 991px) {
    .slide-principal {
      .swiper-wrapper {
        .swiper-slide {
          .left-content {
            margin-left: 0;
            max-width: 46rem;

            h2 {
              font-size: 6.4rem;
            }
          }

          .right-content {
            position: absolute;
            right: 0;

            .logo {
              margin-top: -5.3rem;
              margin-bottom: 21rem;
            }
          }
        }
      }
    }

    .slide-thumbnail {
      left: 1.5rem;
      top: initial;
      bottom: 6rem;
      height: 4.8rem;
    }
  }

  @media (max-width: 560px) {
    .slide-principal {
      height: 62.2rem;

      .swiper-wrapper {
        .swiper-slide {
          padding-top: 13.1rem;

          &.slide-01 {
            background-position-x: 38%;
          }
          &.slide-02 {
            background-position-x: 36%;
          }
          &.slide-03 {
            background-position-x: 45%;
          }
          &.slide-04 {
            background-position-x: 48%;
          }
          &.slide-05 {
            background-position-x: 36%;
          }
          &.slide-06 {
            background-position-x: 65%;
          }

          .left-content {
            max-width: 28.3rem;

            h2 {
              font-size: 4rem;
            }

            p {
              font-size: 1.6rem;
            }
          }

          .right-content {
            display: none;
          }
        }
      }
    }
  }
}

.s-games {
  padding: 8.3rem 0 11rem;

  .top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 7.8rem;
  }

  .left-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 37rem;

    span {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2.2rem;
      color: $neutral-800;
      margin-top: 1.1rem;
    }

    h2 {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 110.2%;
      color: $white;
      width: 100%;
      max-width: 17.5rem;
    }
  }

  .right-top {
    width: 100%;
    max-width: 75.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;

      li {
        &:not(:first-child) {
          margin-left: 2.4rem;
        }

        a {
          img {
            filter: brightness(0) invert(1);
            transition: filter 0.3s;
          }

          &.active,
          &:hover {
            img {
              filter: none;
            }
          }
        }
      }
    }

    .btn-all-games {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.4rem;
      text-align: center;
      color: $white;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.8;
      }

      img {
        margin-right: 1rem;
      }
    }
  }

  .tab-games-content {
    .tab-pane-games {
      display: none;

      &.active {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 47px 32px;
        animation: fadeUp 1s forwards;
      }

      .card-all-games {
        width: 100%;
        height: 38.4rem;
        max-width: 28rem;
        border: 1.6125px solid $neutral-900;
        border-radius: 4.3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s;

        &:hover {
          opacity: 0.8;
        }

        span {
          display: flex;
          align-items: center;
          margin-top: 3.4rem;
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 2.6rem;
          color: $white;

          img {
            margin-right: 13px;
          }
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .right-top {
      max-width: 58.3rem;
    }
  }

  @media (max-width: 991px) {
    .top {
      margin-bottom: 5.8rem;

      .left-top {
        max-width: fit-content;

        span {
          display: none;
        }
      }
    }

    .right-top {
      max-width: 50rem;
    }

    .tab-games-content {
      .tab-pane-games {
        &.active {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }

  @media (max-width: 560px) {
    padding: 6rem 0;

    .top {
      margin-bottom: 5.1rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      .left-top {
        h2 {
          font-size: 2.8rem;
          max-width: 100%;
        }
      }

      .right-top {
        justify-content: flex-start;

        .btn-all-games {
          display: none;
        }
      }
    }

    .tab-games-content {
      .tab-pane-games {
        &.active {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1.6rem 2.4rem;
        }

        .card-all-games {
          height: 100%;

          span {
            font-size: 1.2rem;
            margin-top: 1.5rem;

            img {
              display: none;
            }
          }
        }
      }
    }
  }
}

.s-download {
  width: 100%;
  height: 850px;
  background: url("../assets/imgs/backgrounds/bg-section-download.png") center
    center no-repeat;
  background-size: cover;
  overflow: hidden;

  .container {
    position: relative;
  }

  .text-left {
    width: 100%;
    max-width: 29.9rem;
    padding-top: 13.2rem;

    .logo {
      margin-bottom: 3rem;
    }

    h2 {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 110.2%;
      color: $white;
      margin-bottom: 3rem;
    }

    ul {
      margin-bottom: 4.2rem;

      li {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 2.4rem;
        }

        .icon {
          width: 1.8rem;
          height: 1.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1.6rem;
        }

        p {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 178.2%;
          color: $neutral-1000;
        }
      }
    }

    .btn {
      padding: 0 4.3rem;
      line-height: 5.2rem;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 4.9rem;
    }

    .app {
      display: flex;
      align-items: center;

      p {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: $white-title;
        max-width: 19rem;
        margin-left: 1.8rem;

        a {
          text-decoration: underline;
          transition: color 0.3s;

          &:hover {
            color: $primary-light;
          }
        }
      }
    }
  }

  .image {
    position: absolute;
    top: 9.9rem;
    right: -27.5rem;
    width: 100%;
    max-width: 106.6rem;
    height: 61rem;

    .img-lg {
      position: absolute;
      top: 0;
      left: 0;
      animation: float 8s ease-in-out infinite;
    }

    .img-sm {
      position: absolute;
      right: 5.3rem;
      bottom: -4.2rem;
      animation: float 6s ease-in-out infinite;
    }
  }

  @media (max-width: 991px) {
    .text-left {
      max-width: 29.9rem;

      h2 {
        font-size: 3.2rem;
        margin-bottom: 3rem;
      }
    }

    .image {
      right: -35rem;
    }
  }

  @media (max-width: 560px) {
    height: auto;
    padding-bottom: 5rem;

    .text-left {
      padding-top: 6.3rem;
      margin-bottom: 4rem;

      h2 {
        font-size: 2.8rem;
      }
    }

    .image {
      position: relative;
      top: 0;
      right: 0;
      height: 27rem;

      .img-sm {
        bottom: 0;
        right: 0;
        max-width: 27.6rem;
      }
    }
  }
}

.show-modal {
  .modal {
    opacity: 1;
    pointer-events: all;

    .box {
      transform: translateY(0);
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: $black-opacity-1;
  }

  .box {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 69.6rem;
    height: 60rem;
    background: url("../assets/imgs/backgrounds/bg-modal-login.png") no-repeat
      center center $neutral-100;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(50px);
    transition: transform 0.3s;

    .close {
      position: absolute;
      top: 2.4rem;
      right: 2.4rem;
      transition: transform 0.3s;

      &:hover {
        transform: rotate(90deg);
      }
    }

    .logo {
      margin-bottom: 4rem;
      width: 16.6rem;
    }

    form {
      width: 100%;
      max-width: 42.6rem;

      .form-group {
        margin-bottom: 1.6rem;

        &:last-child {
          margin-bottom: 2.4rem;
        }

        input[type="text"],
        input[type="password"] {
          width: 100%;
          height: 4.8rem;
          border-radius: 4px;
          border: none;
          padding: 0 1.6rem;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 2.2rem;
          color: $neutral-700;

          &::placeholder {
            opacity: 0.6;
          }
        }

        button {
          width: 100%;
          justify-content: center;
          line-height: 5.2rem;
          font-weight: 600;
          font-size: 1.6rem;
        }
      }
    }

    .others-conect {
      margin-bottom: 3.5rem;

      p {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.1rem;
        text-align: center;
        color: $white;
        margin-bottom: 1.6rem;
      }

      ul {
        display: flex;

        li {
          &:not(:first-child) {
            margin-left: 1.6rem;
          }

          button {
            width: 4.8rem;
            height: 4.8rem;
            background-color: $white;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .message-user {
      p {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $white;
        margin-bottom: 1.6rem;
        text-align: center;

        a {
          display: inline-block;
        }
      }

      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
        color: $primary-default;
        text-align: center;
        display: block;
        transition: color 0.3s;

        &:hover {
          color: $white;
        }
      }
    }
  }
}
