.s-hero {
  position: relative;

  .slide-principal {
    width: 100%;
    height: 73.6rem;

    .swiper-wrapper {
      .swiper-slide {
        padding-top: 20.7rem;

        &.slide-01 {
          background: url("../assets/bg-banner1.jpg") center center;
          background-size: cover;
        }
        &.slide-02 {
          background: url("../assets/bg-banner2.jpg") center center;
          background-size: cover;
        }
        &.slide-03 {
          background: url("../assets/bg-banner3.jpg") center center;
          background-size: cover;
        }
        &.slide-04 {
          background: url("../assets/bg-banner4.jpg") center center;
          background-size: cover;
        }
        &.slide-05 {
          background: url("../assets/bg-banner5.jpg") center center;
          background-size: cover;
        }
        &.slide-06 {
          background: url("../assets/bg-banner6.jpg") center center;
          background-size: cover;
        }

        .container {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }

        .left-content {
          margin-left: 19.3rem;
          width: 100%;
          max-width: 47rem;

          h2 {
            font-weight: 700;
            font-size: 6.4rem;
            line-height: 110.2%;
            color: $white;
            margin-bottom: 1.6rem;
            text-shadow: -4px 8px 4px rgba(0,0,0,0.3);
          }

          p {
            font-size: 1.8rem;
            line-height: 2.7rem;
            letter-spacing: -0.05em;
            color: $white;
            margin-bottom: 3.2rem;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }

          button {
            padding: 0 3.8rem;
            line-height: 5.2rem;
          }
        }

        .right-content {
          width: 100%;
          max-width: 29.2rem;
          margin-top: -3.4rem;

          .logo {
            width: 100%;
            max-width: 28rem;
            height: 18rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8.6rem;
          }

          .video {
            width: 100%;
            max-width: 28rem;

            span {
              display: block;
              text-align: right;
              font-weight: 600;
              font-size: 1.3rem;
              line-height: 2rem;
              text-transform: uppercase;
              margin-bottom: 1.6rem;
            }

            .btn-video {
              position: relative;
              width: 100%;
              height: 15.8rem;
              border-radius: 6px;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;

              .thumb {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity 0.3s;

                &.default {
                  opacity: 1;
                }
                &.hover {
                  opacity: 0;
                }

                &:hover {
                  &.default {
                    opacity: 0;
                  }
                  &.hover {
                    opacity: 1;
                  }

                  & + .icon {
                    display: none;
                  }
                }
              }

              .icon {
                position: relative;
                z-index: 1;
                width: 4rem;
                height: 4rem;
                background: linear-gradient(
                  136.72deg,
                  rgba(7, 7, 10, 0.86) 19.22%,
                  rgba(15, 16, 22, 0.5) 76.59%
                );
                backdrop-filter: blur(1.5px);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }

  .slide-thumbnail {
    position: absolute;
    top: 21.6rem;
    left: 8%;
    z-index: 2;
    height: 38.8rem;

    .swiper-wrapper {
      .swiper-slide {
        cursor: pointer;
        width: 4.2rem;
        height: 4.2rem;
        opacity: 0.4;
        filter: grayscale(100%);

        &-thumb-active {
          opacity: 1;
          filter: grayscale(0);
        }

        &.disabled {
          pointer-events: none;
        }
      }
    }
  }
}

.s-games {
  padding: 8.3rem 0 11rem;
  .top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 7.8rem;
  }

  .left-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 37rem;

    span {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2.2rem;
      color: $neutral-800;
      margin-top: 1.1rem;
    }

    h2 {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 110.2%;
      color: $white;
      width: 100%;
      max-width: 17.5rem;
    }
  }

  .right-top {
    width: 100%;
    max-width: 75.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;

      li {
        &:not(:first-child) {
          margin-left: 2.4rem;
        }

        a {
          img {
            filter: brightness(0) invert(1);
            transition: filter 0.3s;
          }

          &.active,
          &:hover {
            img {
              filter: none;
            }
          }
        }
      }
    }

    .btn-all-games {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.4rem;
      text-align: center;
      color: $white;

      img {
        margin-right: 1rem;
      }
    }
  }

  .tab-games-content {
    .tab-pane-games {
      display: none;

      &.active {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 47px 32px;
        animation: fadeUp 1s forwards;
      }

      .card-all-games {
        width: 100%;
        height: 38.4rem;
        max-width: 28rem;
        border: 1.6125px solid $neutral-900;
        border-radius: 4.3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          display: flex;
          align-items: center;
          margin-top: 3.4rem;
          font-weight: 600;
          font-size: 1.72rem;
          line-height: 2.6rem;
          color: $white;

          img {
            margin-right: 13px;
          }
        }
      }
    }
  }
}

.s-download {
  width: 100%;
  height: 850px;
  background: url("../assets/bg-section-download.png") center center no-repeat;
  background-size: cover;
  overflow: hidden;

  .container {
    position: relative;
  }

  .text-left {
    width: 100%;
    max-width: 29.9rem;
    padding-top: 13.2rem;

    .logo {
      margin-bottom: 3rem;
    }

    h2 {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 110.2%;
      color: $white;
      margin-bottom: 3rem;
    }

    ul {
      margin-bottom: 4.2rem;

      li {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 2.4rem;
        }

        .icon {
          width: 1.8rem;
          height: 1.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1.6rem;
        }

        p {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 178.2%;
          color: $neutral-1000;
        }
      }
    }

    .btn {
      padding: 0 4.3rem;
      line-height: 5.2rem;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 4.9rem;
    }

    .app {
      display: flex;
      align-items: center;

      p {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: $white-title;
        max-width: 19rem;
        margin-left: 1.8rem;

        a {
          text-decoration: underline;
          transition: color 0.3s;

          &:hover {
            color: $primary-light;
          }
        }
      }
    }
  }

  .image {
    position: absolute;
    top: 9.9rem;
    right: -27.5rem;
    width: 100%;
    max-width: 106.6rem;
    height: 61rem;

    .img-lg {
      position: absolute;
      top: 0;
      left: 0;
      animation: float 8s ease-in-out infinite;
    }

    .img-sm {
      position: absolute;
      right: 5.3rem;
      bottom: -4.2rem;
      animation: float 6s ease-in-out infinite;
    }
  }
}
