.btn {
  display: inline-flex;
  align-items: center;
  padding: 0 1.6rem;
  line-height: 4.1rem;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.4rem;
  color: $white;
  border: 1px solid transparent;
  transition: color 0.3s, background-color 0.3s;

  img {
    margin-right: 0.8rem;
  }

  &-primary {
    background-color: $primary-default;
    border-color: $primary-default;

    &:hover {
      background-color: $primary-light;
    }
  }

  &-outlined {
    border-color: $white;

    &:hover {
      color: $neutral-200;
      background-color: $white;
    }
  }
}

.game-card {
  display: block;
  width: 100%;
  max-width: 28rem;

  &:hover {
    .image {
      img {
        transform: scale(1.05);
      }
    }
  }

  .image {
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    height: 38.3rem;
    margin-bottom: 2.4rem;

    img {
      transition: transform 0.3s ease-in;
    }
  }

  .info {
    h3 {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: $white-title;
      margin-bottom: 0.4rem;
    }

    span {
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: $white-description;
    }
  }

  @media (max-width: 1200px) {
    .image {
      height: 34.3rem;
    }
  }

  @media (max-width: 991px) {
    .image {
      height: 30.3rem;
    }
  }

  @media (max-width: 560px) {
    .image {
      height: 21.3rem;
      margin-bottom: 0;
    }

    .info {
      display: none;
    }
  }
}
