* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: $white;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $neutral-100;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}