$primary-darkest: #002550;
$primary-dark: #025a9a;
$primary-default: #00aeff;
$primary-light: #61cdff;

$neutral-100: #020203;
$neutral-200: #0b0d12;
$neutral-300: #15171b;
$neutral-400: #1f2025;
$neutral-500: #26272e;
$neutral-600: #2d2f38;
$neutral-700: #363842;
$neutral-800: #8f9199;
$neutral-900: #212428;
$neutral-1000: #828792;

$white: #ffffff;
$white-opacity-1: rgba(255, 255, 255, 0.1);
$white-title: #e5e5e5;
$white-description: rgba(229, 229, 229, 0.8);

$icon-default: rgb(208, 168, 92);